.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem{
    -fx-background-color: #08659b;
}

.sidebarItem:hover{
    -fx-background-color: #052c65;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}